<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permite a la aplicación acceder a información sobre las redes Wi-Fi disponibles,
         como el SSID de la red conectada, la intensidad de la señal y ver redes Wi-Fi cercanas -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Permite a la aplicación cambiar el estado del Wi-Fi, como activarlo o desactivarlo,
         conectarse a redes Wi-Fi específicas o modificar la configuración de Wi-Fi -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Permite a la aplicación acceder a información sobre el estado de la conectividad de red,
         como verificar si hay conexión a internet, tipo de conexión (Wi-Fi, datos móviles),
         y monitorear cambios en la conectividad -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Bluetooth-->
    <!-- Para desactivar Bluetooth en versiones anteriores a Android 13 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Para Android 12 (API 31) y superior -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!--Microfono-->
    <!--Permiso para grabar audio-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--Pantalla-->
    <!-- Permiso para modificar configuraciones del sistema -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!--Permiso para acceder a la cámara-->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dispositivos">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dispositivos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GrabacionDeAudioActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dispositivos">
        </activity>

        <activity
            android:name=".PantallaScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dispositivos">
        </activity>

        <activity
            android:name=".AltavozScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dispositivos">
        </activity>

        <activity
            android:name=".CameraScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dispositivos">
        </activity>
    </application>

</manifest>